.docs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    justify-content: space-around;
}

.doc {
    width: 100%;
    height: auto;
    border: 2px solid $gray;
    box-shadow: 3px 6px 15px $gray;
}