.projects_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}

@mixin midsize {
  .description {
    font-size: 1.1rem;
  }

  .horiz {
    grid-column-end: span 2;
  }
}

@mixin desktop {
  .horiz {
    grid-row-end: span 2;
  }

  .vert {
    grid-row-end: span 2;
  }
}

@mixin largest {
  .horiz {
    grid-row-end: span 1;
  }
}

.project {
  border: 2px solid $gray;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  box-shadow: 3px 6px 15px $gray;
}

.description {
  padding: 0 4%;
}

.pImg {
  width: 100%;
  border-bottom: 2px solid $gray;
}

.viewProject {
  background-color: $blue;
  color: $white;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 3%;
  border: 1.5px solid $gray;
  text-shadow: 2px 1.5px 1px $gray;
}