$blue: #406890;
$green: #889888;
$white: #fffffa;
$tan: #a09898;
$gray: #202018;

@define-mixin midsize {
    @media (min-width: 600px) {
        @mixin-content;
    }
}

@define-mixin desktop {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

@define-mixin largest {
    @media (min-width: 1450px) {
        @mixin-content;
    }
}