$blue: #9dafc5;
$green: #5c8275;
$white: #fffffa;
$tan: #8e8683;
$gray: #3f3f3f;

@define-mixin midsize {
    @media (min-width: 600px) {
        @mixin-content;
    }
}

@define-mixin desktop {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

@define-mixin largest {
    @media (min-width: 1450px) {
        @mixin-content;
    }
}

/* Global/Main styles */
body {
    font: 'Encode Sans';
    font-size: 16px;
    padding: 4px;
}

section h2 {
    font-family: 'Sansita';
    font-size: 2rem;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Header styles */



/*Intro styles */
.intro {
    position: relative;
}

.intro h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 3rem;
    font-family: 'Sansita';
}

.headerPic {
    width: 100%;
    height: auto;
    padding: 0;
}

/* Navigation styles */
.nav {
    background-color: $gray;
}

.nav ul {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Encode Sans';
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    color: $white;
}

/* About Styles */
.about {
    display: inline-block;
}

.leadLine {
    font-size: 1.5rem;
    font-weight: 700;
}

.profilePhoto {
    height: 14rem;
    float: left;
    shape-outside: ellipse();
    margin-right: 3%;
}

.aboutInfo {
    font-size: 1.2rem;
    padding: 0 0.25rem;
    line-height: 1.3;
    margin-top: -0.2rem;
}

@mixin midsize {
    .leadLine {
        font-size: 2rem;
    }

    .profilePhoto {
        height: 23rem;
        margin-right: 1.5%;
        margin-top: 0.5rem;
    }

    .aboutInfo {
        margin-top: -0.2rem;
        margin-right: 1.75rem;
        padding-right: 7%;
    }
}

/*Projects styles */

.projects_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}

@mixin midsize {
  .description {
    font-size: 1.1rem;
  }

  .horiz {
    grid-column-end: span 2;
  }
}

@mixin desktop {
  .horiz {
    grid-row-end: span 2;
  }

  .vert {
    grid-row-end: span 2;
  }
}

@mixin largest {
  .horiz {
    grid-row-end: span 1;
  }
}

.project {
  border: 2px solid $gray;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  box-shadow: 3px 6px 15px $tan;
}

.description {
  padding: 0 3.5%;
}

.pImg {
  width: 100%;
}

.viewProject {
  margin-bottom: 3%;
  height: 3rem;
  width: 11rem;
  font-size: 1.1rem;
  background-color: $tan;

  a {
    color: $white;
    text-decoration: none;
  }
}

/* Certificate Styles */
.docs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    justify-content: space-around;
}

.doc {
    width: 100%;
    height: auto;
    border: 2px solid $gray;
    box-shadow: 3px 6px 15px $tan;
}

/* Contact Styles */
.sites {
    text-align: center;
    margin-bottom: 0.5rem;
}

.mainContact {
    font-size: 1.3rem;
    color: $gray;

    .icons {
        font-size: 1.4rem;
        color: $blue;
    }
}

.links {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem; 
    max-width: 800px;
    margin: 0 auto;
}

@mixin midsize {
    .links {
        font-size: 1.3rem;
    }

    .mainContact {
        font-size: 1.5rem;

        .icons {
            font-size: 1.6rem;
        }
    }
}

.icons {
    color: $green;
}

.icons.even {
    color: $blue;
}