.header {
    padding: 10px 0;
    width: 100%;
    padding: 0 15px;
    background-color: $gray;
    position: fixed;
}

.menuContent {
    text-align: right;
    position: relative;
    padding-top: 0;
}

.nav {
    padding: 0.7rem;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    li {
        list-style: none;
        padding: 0.3rem 1rem;
    
        a {
            font-size: 1.2rem;
            color: $green;
            text-decoration: none;
        }
    }
}

@mixin midsize {
    .nav ul {
        justify-content: flex-end;
    }
}

