.header {
    padding: 10px 0;
    width: 100%;
    padding: 0 15px;
    background-color: $green;
    position: fixed;
    z-index: 2;
}

.menuContent {
    text-align: center;
    position: relative;
    padding-top: 0;
    transform: scale(1);
}

.nav {
    padding: 0.7rem;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    li {
        list-style: none;
        padding: 0.2rem;
    
        a {
            color: $white;
            text-decoration: none;
        }
    }

}

