:root{
    --mainBlue: #006699;
    --mainGreen: #339966;
    --darkGray: #403B41;
    --softGray: #DEDEDE;
    --serif: 'David Libre', serif;
    --sansSerif: 'Arimo', sans-serif;
}

html {
    font-size: 16pt;
    background-color: var(--softGray);
    height: 100vh;
    width: 100vw;
}

.hero h2 {
    text-align: center;
    color: var(--mainBlue);
    font: var(--serif);
    font-size: 40pt;
}

.hero h3 {
    text-align: center;
    color: var(--mainGreen);
    font: var(--sansSerif);
    font-size: 26pt;
}

.introIcons img{
    width: 15%;
    padding: 0 4vw;
    color: var(--darkGray);
}

.introIcons {
    text-align: center;
}