/* global color vars */

/*global styles */
body {
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}


/*intro styles */
header {
    text-align: center;
    background: url("http://jonandlinda.com/codepenphotos/sandFootprints.jpg") no-repeat center bottom;
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.covername {
    background-color: #3f3f3f;
    width: 100%;
    opacity: 0.6;
    color: #fffffa;
    font-family: 'Amaranth', sans-serif;
    font-size: 85px;
    padding: 7% 0%;
}

/*navigation styles */
nav {
    position: relative;
    background: #3f3f3f;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 1;
}

.logo {
    max-width: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background: #5c8275;
    font-size: 30px;
    font-weight: 600;
}

.logo a {
    color: #fffffa;
    font-family: 'Amaranth', sans-serif;    
}

.logo a:hover {
    color: #3f3f3f;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 30px;
    text-decoration: underline;
}

.fixed-nav .logo {
    max-width: 100vw;
}

.fixed-nav nav {
    position: fixed;
    -webkit-box-shadow: 0 5px rgba(0,0,0,0.1);
            box-shadow: 0 5px rgba(0,0,0,0.1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: #fffffa;
    font-family: 'Amaranth', sans-serif;        
    -webkit-transition: all 0.4s;        
    transition: all 0.4s;
}

nav a:hover {
    text-decoration: none;
    color: #fffffa;
    font-weight: 300;
    font-size: 24px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* Main site settings */
.title {
  font-family: 'Amaranth', cursive;
  font-size: 48px;
  text-align: center;
}

.main-site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.page-section {
    padding: 15vh 2vw 5vh 2vw;
}

/*Project styles */

/*Cert styles */

/*About styles */

/*Contact styles */

