body {
    font: 'Encode Sans';
    font-size: 16px;
    padding: 4px;
}

.header {
    background-color: gray;
    color: white;
    text-align: center;
    font-family: 'Sansita';
    padding: 5px;
    margin: -10px;
}

.header h1 {
    font-size: 3rem;
}

.header h2 {
    font-size: 2rem;
}

.nav ul {
    list-style-type: none;
    font-family: 'Encode Sans';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.2rem;
}

section h2 {
    font-family: 'Sansita';
    font-size: 2rem;
    text-align: center;
}